.App {
    max-width: 600px;
    width: 100%;
    height: 680px;
    border: 25px solid #F44336;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
    border-radius: 4px;
    h1 {
        text-align: center;
        .logo {
            max-width: 256px;
            width: 100%;
        }
    }
    .selectPokemon {
        max-width: 90%;
        margin: 0 auto;
    }
    .content-indisponivel {
        .gif-loading {
            width: 100%;
        }
    }
}