.pokeCard {
    max-width: 90%;
    margin: 0 auto;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }    
    .pokemon-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0;
        .pokemon-imagebox {
            position: relative;
            flex-grow: 1;
            .pokemon-image {
                background-image: url('/images/pokeball-symbol.png');
                background-repeat: no-repeat;
                background-size: contain;
                width: 96px;
                height: 100px;
                opacity: .2;
            }
            .pokemon-sprite {
                position: absolute;
                top: 0;
            }
        }
        .nome {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 2rem;
            flex-grow: 2;
        }
        .pokeid {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 2rem;
            flex-grow: 1;
            text-align: right;
        }
    }
    .pokemon-info {
        display: flex;
        font-family: monospace;
        .info {
            flex: 1;
            h2 {
                margin: 0 0 10px 0;
                font-size: 1.5rem;
            }
            p {
                margin: 10px 0;
            }
            .list-abilities {
                li {
                    margin: 10px 0;
                }
            }
            .list-types {
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: relative;
                li {
                    display: inline;
                    position: relative;
                    top: 15px;
                    right: -60px;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-right: 10px;
                    &:nth-child(2)::before {
                        content: '/';
                        margin-right: 10px;
                    }
                }
            }
        }
        .stats {
            flex: 2;
            .list-stats {
                display: flex;
                flex-wrap: wrap;
                li {
                    text-align: center;
                    width: calc(33.33333333% - 20px);
                    height: 50px;
                    box-sizing: border-box;
                    margin: 10px 10px 20px 10px;
                    position: relative;
                    line-height: 50px;
                    background: #f2f2f2;
                    font-weight: bold;
                    font-size: 1.5rem;
                    &::before {
                        display: block;
                        font-size: 1rem;
                        text-transform: capitalize;
                        font-weight: bold;
                        position: absolute;
                        top: -40px;
                        width: 100%;
                    }
                    &:nth-child(1) {
                        &::before {
                            content: 'speed';
                        }
                    }
                    &:nth-child(2) {
                        &::before {
                            content: 'sp-defense';
                        }
                    }
                    &:nth-child(3) {
                        &::before {
                            content: 'sp-attack';
                        }
                    }
                    &:nth-child(4) {
                        &::before {
                            content: 'defense';
                        }
                    }
                    &:nth-child(5) {
                        &::before {
                            content: 'attack';
                        }
                    }
                    &:nth-child(6) {
                        &::before {
                            content: 'stamina';
                        }
                    }
                }
            }
        }
    }
}